@import '../config/config';
.edit-task {
  @include hideScrollbar;
  @include modalWindow;
  position: relative;
  .head {
    @include windowHeader;
  }
  .content {
    position: relative;
    padding-bottom: 5rem;
    width: 80%;
    margin: 2rem auto 0 auto;
    .row {
      margin-top: 1.2rem;
      label,
      span {
        display: block;
        margin-bottom: 6px;
        color: darken($gray, 10);
      }
      .input {
        @include input;
        width: 90%;
        max-width: 300px;
        background-color: $whiteText;
        border: 1px solid $lightGray;
      }
      textarea {
        resize: none;
        padding: 5px 10px;
        font-size: 1rem;
        outline: none;
        border: 1px solid $lightGray;
        width: 100%;
        border-radius: 5px;
      }
      .status {
        display: flex;
        justify-content: center;
        align-items: center;
        .status-text {
          color: $text;
        }
      }
    }

    .footer {
      margin-top: 3rem;
      display: flex;
      gap: 1rem;
      .btn {
        padding: 5px 2rem;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }

    .date-picker {
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .edit-task {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .edit-task {
    width: 80%;
    .content {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .edit-task {
    width: 100%;
    margin: 1rem;
    .content {
      width: 90%;
      margin: 2rem auto 0 auto;
    }
  }
}
