@import '../config/config';
.edit-task {
	@include hideScrollbar;
	@include modalWindow;
  .head {
		@include windowHeader;
  }

  .content {
    position: relative;
    padding-bottom: 5rem;
    width: 80%;
    margin: 2rem auto 1rem auto;
    .row {
      margin-top: 1.2rem;
      label,
      span {
        display: block;
        margin-bottom: 6px;
        color: darken($gray, 10);
      }
      .input {
        @include input;
        width: 90%;
        max-width: 300px;
        background-color: $whiteText;
        border: 1px solid $lightGray;
      }
      textarea {
        resize: none;
        padding: 5px 10px;
        font-size: 1rem;
        outline: none;
        border: 1px solid $lightGray;
        width: 100%;
        border-radius: 5px;
      }
      .select {
        font-size: 0.9rem;
        li {
          font-size: 0.2rem;
        }
      }
    }

    .footer {
      margin-top: 5rem;
      .btn {
        padding: 5px 2rem;
        margin-right: 2rem;
      }
    }

    .date-picker {
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .edit-task {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .edit-task {
    width: 90%;
  }
}
