@import '../config/config';

.tasks-view {
  display: flex;
  flex-direction: column;
	.option{
		color: lighten($text, 30);
		background: transparent;
		text-align: left;
		&:hover{
			color: $secondary;
		}
	}
  main {
		@include hideScrollbar;
    position: relative;
    height: 100%;
		overflow-y:scroll;
    .no-tasks {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      span {
        display: block;
        text-align: center;
        color: $gray;
        font-size: 1.1rem;
      }
      image {
        display: block;
        margin: auto;
        width: 80%;
      }
    }
  }
}
