@import '../config/config';

nav {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 250px;
  min-height: 100vh;
  background-color: $primary;
  transition: transform 1s;
  z-index: $z_index_3;
  .nav-btn {
    position: absolute;
    transform: translateX(38px);
    top: 20px;
    right: 0;
    width: 40px;
    height: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-profile {
    padding: 2rem;
    margin-bottom: 5rem;
    .profile-btn {
      display: block;
      min-width: 50px;
      width: 70px;
			height: 70px;
      overflow: hidden;
      border-radius: 50%;
      padding: 0;
			margin: auto;
      img {
        display: block;
        width: 100%;
				height: 100%;
				object-fit:cover;
        border: 1px solid $whiteText;
        padding: 3px;
        border-radius: 50%;
      }
    }
    span {
      display: block;
      margin: auto;
			text-align: center;
			padding: 10px 0;
    }
    .options {
      @include options;
      background-color: #dfdfdf8f;
    }

    .hide {
      transform: translateX(-300px);
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 2rem;
    .nav-link {
      color: $text;
      width: fit-content;
      text-decoration: none;
      text-align: left;
    }
    .nav-link:hover {
      color: $secondary;
    }
    .active {
      color: $secondary;
      text-decoration: underline;
    }

		.sub-link{
			margin-left: 1rem;
		}
		.project-btn{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;
			font-size: 1rem;
			font-weight: 600;
			color: $text;
			padding: 0;
			margin: 2rem 0 5px 0;
			width: 100%;
			.add-icon{
				display: none;
			}
			&:hover{
				color: $secondary;
				.add-icon{
					display: block;
				}
			}
		}
  }

  .footer {
    justify-self: end;
    margin-top: auto;

		.logout{
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 1rem;
			background-color: transparent;
			font-size: 1.1rem;
		}

		.logo{
			background-color: darken($primary, 5);
			padding: 5px 0;
		}
  }
}

.navbar {
  transform: translateX(-100%);
}

@media only screen and (max-width: 1200px) {
  nav {
    width: 22%;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    width: 40%;
  }
}

@media only screen and (max-width: 450px) {
  nav {
    width: 70%;
    .nav-btn {
      transform: translateX(28px);
      top: 10px;
      width: 30px;
      height: 40px;
      * {
        width: 1rem;
      }
    }
  }
}
