@import '../config/config';

.timeline-task {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 7px 6px 13px -10px $gray;
  box-shadow: 7px 6px 13px -10px $gray;
  color: $text;
  text-decoration: none;
  .time {
    font-size: 0.9rem;
    padding-right: 1rem;
    // color: darken($primary, 20);
		color: white;
		border-radius: 4px;
  }
  .text {
    display: block;
    font-weight: 400;
    font-size: 1rem;
  }
  &:hover {
    outline: 1px solid lighten($secondary, 20);
  }
}

.mobile-task{
	text-decoration: none;
	color: $text;
}

.task {
  box-shadow: none;
  margin-top: 5px;
	background-color: #eee;
  cursor: default;
  &:hover {
    outline: none;
  }
  .col-2 {
    flex-grow: 2;
  }
	.time {
		color: darken($primary, 15);
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    .btn {
      color: darken($primary, 10);
      &:hover {
        color: $secondary;
      }
    }
  }
}
