@import "config";

nav{
<<<<<<< HEAD
	position: absolute;
	left: 0;
	top: 0;
=======
	position: relative;
>>>>>>> 3a61874c624eafe1781d662061a41d72d903b88a
	display: flex;
	flex-direction: column;
	min-width: 200px;
	max-width: 300px;
	width: 15%;
	min-height: 100vh;
	background-color: $primary;
	padding:2rem;
	transition: transform 1s;
	.nav-btn{
		position: absolute;
		transform: translateX(38px);
		top: 20px;
		right: 0;
		width:40px;
		height: 60px;
<<<<<<< HEAD
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
=======
		cursor: pointer;
		background-color: $primary;
		border: none;
		outline: none;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		color: $whiteText;
>>>>>>> 3a61874c624eafe1781d662061a41d72d903b88a
	}

	.nav-profile{
		margin-bottom:5rem;
<<<<<<< HEAD
		.profile-btn{
			display: inline-block;
			min-width: 50px;
			width: 30%;
			vertical-align: middle;
			overflow: hidden;
			border-radius: 50%;
			padding:0;
=======
		.profile-image{
			display: inline-block;
			width: 60px;
			vertical-align: middle;
			overflow: hidden;
>>>>>>> 3a61874c624eafe1781d662061a41d72d903b88a
			img{
				display: block;
				width: 100%;
				border: 1px solid $whiteText;
				padding: 3px;
<<<<<<< HEAD
				border-radius: 50%;
=======
				border-radius: 30px;
>>>>>>> 3a61874c624eafe1781d662061a41d72d903b88a
			}
		}
		span{
			vertical-align: middle;
			margin-left: 1rem;
		}
<<<<<<< HEAD
		.options{
			display: flex;
			flex-flow: column;
			margin-top: 1rem;
			background-color: #eeeeee77;
			padding: 10px;
			border-radius: 5px;
			transition: transform 1s;
			.btn{
				width: fit-content;
				color: darken($gray, 20);
			}
			.btn:hover{
				color: $secondary;
			}
		}

		.hide{
			transform: translateX(-300px);
		}
=======
>>>>>>> 3a61874c624eafe1781d662061a41d72d903b88a
	}

	.links{
		display: flex;
		flex-direction: column;
		gap:0.5rem;
		.nav-link{
			color: $text;
			width: fit-content;
			text-decoration: none;
			text-align: left;
		}
<<<<<<< HEAD
=======

>>>>>>> 3a61874c624eafe1781d662061a41d72d903b88a
		.nav-link:hover{
			color: $secondary;
		}
		.active{
			color: $secondary;
			text-decoration: underline;
		}
	}

	.sub-title{
<<<<<<< HEAD
<<<<<<< HEAD
		@include sub-title;
=======
		padding: 0.5rem 0;
>>>>>>> 55c85e3 (added navbar (#1))
=======
		padding: 0.5rem 0;
>>>>>>> 3a61874c624eafe1781d662061a41d72d903b88a
		border-bottom: 1px solid $text;
		margin: 1rem 0 2rem 0;
	}
}

.navbar{
	transform: translateX(-100%);
}